torchvision==0.2.1
matplotlib==2.2.2
requests2==2.16.0
scikit_image==0.15.0
numpy==1.17.2
opencv_python==3.4.2.16
sewar==0.4.2
torch==0.4.1
visdom==0.1.8.9
Pillow==6.2.0
beautifulsoup4==4.8.1
dominate==2.4.0
Requests==2.22.0
skimage==0.0
tensorboardX==1.9
